<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Green Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Green
  * Template URL: https://bootstrapmade.com/green-free-one-page-bootstrap-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">info@example.com</a>
        <i class="bi bi-phone-fill phone-icon"></i> +1 5589 55488 55
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/index">Green</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">개인</a></li>
          <li><a class="nav-link scrollto" href="#about">기업</a></li>
          <li><a class="nav-link scrollto" href="#services">금융상품</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">자산관리</a></li>
          <li><a class="nav-link scrollto" href="/realty">부동산</a></li>
          <li><a class="nav-link scrollto" href="#team">퇴직연금</a></li>
          <li><a class="nav-link scrollto" href="#team">카드</a></li>
          <li class="dropdown"><a href="#"><span>전체 서비스</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">금융 서비스</a></li>
              <li><a href="#">특화 서비스</a></li>
              <li><a href="#">멤버십 서비스</a></li>
              <li><a href="#">GREEN과 함께</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Global</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#"><img src="../assets/img/korean.png" style="height: 20px;" alt="">Korean</a>
              </li>
              <li><a href="#"><img src="../assets/img/english.png" style="height: 20px;" alt="">English</a></li>
              <li><a href="#"><img src="../assets/img/chinese.png" style="height: 20px;" alt="">Chinese</a></li>
              <li><a href="#"><img src="../assets/img/japanese.png" style="height: 20px;" alt="">Japanese</a></li>
            </ul>
          </li>
          <% if (isLoggedIn) {%>
            <li><a class="getstarted scrollto" href="/logout">로그아웃</a></li>
            <% } else { %>
              <li><a class="getstarted scrollto" href="/login">로그인</a></li>
              <% } %>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>


    </div>
  </header><!-- End Header -->

  <div class="dropdown container">
    <div>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        면적
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#" id="p25">25평</a></li>
        <li><a class="dropdown-item" href="#" id="p30">30평</a></li>
        <li><a class="dropdown-item" href="#" id="p35">35평</a></li>
        <li><a class="dropdown-item" href="#" id="p40">40평</a></li>
        <li><a class="dropdown-item" href="#" id="p45">45평</a></li>
      </ul>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        주거 형태
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#" id="jeonse">전세</a></li>
        <li><a class="dropdown-item" href="#" id="wolse">월세</a></li>
        <li><a class="dropdown-item" href="#" id="own">자가</a></li>
        <li><a class="dropdown-item" href="#" id="rent">임대</a></li>
      </ul>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        가격
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#" id="priceDesc">높은가격순</a></li>
        <li><a class="dropdown-item" href="#" id="priceAsc">낮은가격순</a></li>
      </ul>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        등록일
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#" id="dateNew">최신순</a></li>
        <li><a class="dropdown-item" href="#" id="dateOld">오래된순</a></li>
      </ul>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        상태
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#" id="onsale">판매중</a></li>
        <li><a class="dropdown-item" href="#" id="soldout">판매완료</a></li>
      </ul>
    </div>
  </div>

  <div style="height: 700px;">
    <table class="table table-hover table-striped text-center container mt-4" style="border: 1px solid;">
      <thead>
        <tr>
          <th>매물번호</th>
          <th>주소</th>
          <th>면적</th>
          <th>주거 형태</th>
          <th>가격</th>
          <th>등록일</th>
          <th>상태</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
        <%for (let i=0; i < data.length; i++) {%>
          <tr>
            <td>
              <%=data[i].num%>
            </td>
            <td>
              <% if (data[i].status==='판매완료' ) { %>
                <span>
                  <%= data[i].address %>
                </span>
                <% } else { %>
                  <a href="/realtycontent/<%= data[i]._id %>">
                    <%= data[i].address %>
                  </a>
                  <% } %>
            </td>
            <td>
              <%=data[i].area%>
            </td>
            <td>
              <%=data[i].housing_type%>
            </td>
            <td>
              <%= data[i].price.toLocaleString() %> 원
            </td>
            <td>
              <%=data[i].date%>
            </td>
            <td>
              <%=data[i].status%>
            </td>
            <td><button data-id="<%=data[i]._id %>" class='delete btn btn-outline-danger'>삭제</button></td>
          </tr>
          <% } %>
      </tbody>
    </table>
    <div class="container d-flex justify-content-center">
      <a href="/realtyenter" class="btn btn-primary ms-2" style="background-color: #5cb874; border: none;">등록하기</a>
    </div>
    <div style="margin-top: 13px;">
      <nav aria-label="Page navigation example">
        <ul class="pagination container d-flex justify-content-center"></ul>
      </nav>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      const urlParams = new URLSearchParams(window.location.search);
      const message = urlParams.get('message');
      if (message) {
        alert(message);
      }
    });

  </script>


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Green</h3>
      <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Green</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const filterOptions = ['p25', 'p30', 'p35', 'p40', 'p45', 'jeonse', 'wolse', 'own', 'rent', 'priceDesc', 'priceAsc', 'dateNew', 'dateOld', 'onsale', 'soldout'];

      filterOptions.forEach(option => {
        document.querySelector(`#${option}`).addEventListener('click', async (event) => {
          event.preventDefault();
          let data = await fetchData(option, 1);
          renderTable(data.items);
          renderPagination(data.totalPages, 1, option);
        });
      });

      loadPage(1, 'dateNew'); //'/realtylist'처음 로딩 시 페이징 안되는 문제 해결
    });

    async function fetchData(sortCriteria, page, lastId = null) {
      let url = `/data-endpoint?sort=${sortCriteria}&page=${page}`;

      const response = await fetch(url);
      const data = await response.json();
      return data;
    }

    function renderTable(data) {
      const tbody = document.querySelector('tbody');
      tbody.innerHTML = '';

      data.forEach((item, index) => {
        const row = document.createElement('tr');
        row.dataset.id = item._id;

        row.innerHTML = `
          <td>${item.num}</td>
          <td>${item.status === '판매완료' ? `<span>${item.address}</span>` : `<a href="/realtycontent/${item._id}">${item.address}</a>`}</td>
          <td>${item.area}</td>
          <td>${item.housing_type}</td>
          <td>${item.price.toLocaleString()} 원</td>
          <td>${item.date}</td>
          <td>${item.status}</td>
          <td><button data-id="${item._id}" class='delete btn btn-outline-danger'>삭제</button></td>
        `;

        tbody.appendChild(row);
      });

      $('.delete').click(function (e) {
        let item = $(this);
        let sid = e.target.dataset.id;
        if (confirm('삭제하시겠습니까?')) {
          $.ajax({
            type: 'post',
            url: '/delete',
            data: { _id: sid }
          })
            .done(function (result) {
              item.parent('td').parent('tr').remove();
            })
            .fail(function (xhr, textStatus, err) {
              alert(err);
            });
        }
      });

      // document.querySelectorAll('.delete').forEach(button => {
      //   button.addEventListener('click', async (event) => {
      //     const id = event.target.getAttribute('data-id');
      //     if (confirm('삭제하시겠습니까?')) {
      //       const response = await fetch('/delete', {
      //         method: 'post',
      //         headers: {
      //           'content-type': 'application/json'
      //         },
      //         body: JSON.stringify({ _id: id })
      //       });

      //       if (response.ok) {
      //         event.target.closest('tr').remove();
      //       } else {
      //         alert('삭제 실패');
      //       }
      //     }
      //   });
      // });
    }

    function renderPagination(totalPages, currentPage, sortCriteria) {
      const pagination = document.querySelector('.pagination');
      pagination.innerHTML = '';

      pagination.innerHTML += `
        <li class="page-item ${currentPage === 1 ? 'disabled' : ''}">
        <a class="page-link" href="#" aria-label="Previous" onclick="loadPage(${currentPage - 1}, '${sortCriteria}')')">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
          `;

      for (let i = 1; i <= totalPages; i++) {
        pagination.innerHTML += `
          <li class="page-item ${i === currentPage ? 'active' : ''}">
            <a class="page-link" href="#" onclick="loadPage(${i}, '${sortCriteria}')">${i}</a>
          </li>
        `;
      }

      pagination.innerHTML += `
          <li class="page-item ${currentPage === totalPages ? 'disabled' : ''}">
            <a class="page-link" href="#" aria-label="Next" onclick="loadPage(${currentPage + 1}), '${sortCriteria}'">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        `;
    }

    window.loadPage = function (page, sortCriteria) {
      fetchData(sortCriteria, page).then(data => {
        renderTable(data.items);
        renderPagination(data.totalPages, page, sortCriteria);
      });
    };

    $(document).ready(function () {
      const itemsPerPage = 10;
      $.get('/count', function (data) {
        const totalItems = data.count;
        const totalPages = Math.ceil(totalItems / itemsPerPage);
        renderPagination(totalPages, 1, 'dateNew');  //처음 로딩 시 1페이지, 기본 정렬 기준으로 페이지네이션 렌더링
      });
    });


  </script>

</body>

</html>